/* breakpoints.css */

/* Estilos para dispositivos com largura de tela até 1185 pixels */
@media (max-width: 1185px) {
  /* Body */
  body {
    grid-template-columns: 1fr;
    grid-template-areas: "header" "main" "contratar" "portifolio" "feedbacks" "footer";
  }
  /* Container */
  .container {
    width: 100%;
  }
  .slider-container {
    width: 100%;
  }
  .container__feedback {
    width: 100%;
    max-width: 100%;
  }
}

/* Estilos para dispositivos com largura de tela até 760 pixels */
@media (max-width: 760px) {
  /* Breakpoint / header__chamada */
  .chamada__container {
    justify-content: center;
  }
  .header__chamada h1,
  p {
    text-align: center;
  }
  .header__chamada a {
    margin: 0 auto;
  }
  /* Breakpoint do main */
  main > .container {
    flex-direction: column;
  }
  .servico__sobre,
  .servico__img {
    width: 100%;
  }
  .servico__img {
    justify-content: center;
  }
  .servico__img img {
    width: 360px;
  }
  .servico__info,
  .servico__info p,
  .servico__sobre {
    max-width: 100%;
  }
  /* Style das info/serviços */
  .servico__info p {
    text-align: left;
  }
  /* Style de contratar */
  .contratar > .container {
    flex-direction: column;
  }
  .contratar__img,
  .contratar__sobre {
    width: 100%;
  }
  .contratar__container {
    max-width: 100%;
  }

  .contratar__sobre h1 {
    text-align: center;
    margin-top: 30px;
  }
  .contratar__sobre p {
    text-align: center;
  }
  .contratar__sobre a {
    margin: 30px auto 0 auto;
  }
  /* Style atendemos */
  section.atendemos02 {
    margin-top: -30px;
  }
  .container__flex {
    flex-direction: column;
  }
  .card {
    min-width: 330px;
    width: 100%;
    border-left: 0;
    border-right: 0;
  }
  .card__texto {
    max-width: 100%;
    text-align: center;
  }
  .card__img img {
    margin: 0 auto;
  }
  /* Portifolio */
  .portifolio__flex {
    flex-direction: column;
    align-items: center;
    gap: 0px;
  }
  .projeto01,
  .projeto02,
  .projeto03 {
    margin-top: 60px;
  }
  /* Feedbacks */
  .slider {
    height: auto;
  }
  .flex {
    flex-direction: column;
  }
  .slide__img {
    width: 100%;
    height: auto;
    padding: 15px 0;
  }
  .slide__feedbak {
    width: 100%;
    height: 100%;
    padding: 15px 0;
  }
  .feedbak__stars {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .slide__feedbak p {
    max-width: 100%;
    height: 180px;
    text-align: center;
    padding: 10px 15px;
  }
  .flex > .navigation {
    bottom: 5px;
    right: auto;
    top: auto;
    left: 50%;
    transform: translate(-50%, 0);
  }
}

/* Estilos para dispositivos com largura de tela até 630 pixels */
@media (max-width: 630px) {
  /* Breakpoint header__nav */
  .logo a {
    font-size: 26px;
  }
  .header__nav > .nav__btn {
    padding: 2px 8px;
  }
}
/* Estilos para dispositivos com largura de tela até 630 pixels */
@media (max-width: 397px) {
  /* Style dos titulos h1/h2 */
  .container > .title02 {
    font-size: 26px;
  }
  .contratar__container > .title02 {
    font-size: 26px;
  }
}

/* Estilos para dispositivos com largura de tela até 385 pixels */
@media (max-width: 385px) {
  /* Breakpoint header__chamada */
  .chamada__container > .header__chamada h1 {
    font-size: 34px;
  }
}

/* Estilos para dispositivos com largura de tela até 346 pixels */
@media (max-width: 346px) {
  /* Breakpoint nav__btn */
  .header__nav > .nav__btn {
    font-size: 14px;
  }
}
