/* Importe do Reset css */
@import url(../../assets/Reset/reset.min.css);
/* Importe das classes auxiliares css */
@import url(../../assets/Classes-Auxiliares/auxiliares.min.css);
/* Importe dos componentes css */
@import url(../../assets/Componentes/Componentes.min.css);
/* Importe das fonts */
@import url(../../assets/Fonts/Font-Projeto.min.css);
/* Importe breakpoints css */
@import url(../../assets/Breakpoints/Breakpoints.min.css);

/* Style da Página */
body {
  background-color: var(--azul-escuro);
}

/* Style do header */
header {
  width: 100%;
  height: 768px;
  background-image: url(../imagens/BG-chamada.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.header__nav {
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav__btn {
  padding: 4px 30px;
  border: 1px solid #fff;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  color: var(--texto-branco);
  cursor: pointer;
}
/* Style do header chamada */
.chamada__container {
  height: 698px;
  display: flex;
  align-items: center;
}
.header__chamada {
  max-width: 450px;
}
.header__chamada h1 {
  color: var(--texto-branco);
  font-weight: bold;
  font-size: 42px;
}
.header__chamada p {
  color: var(--texto-branco);
  font-size: 16px;
  font-weight: normal;
  margin-top: 30px;
}
.header__chamada a {
  margin-top: 30px;
}
/* Fim do style do header */

/* Style do main */
main {
  margin-top: 90px;
}
main > .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}
.servico__img {
  display: flex;
  align-items: center;
}
.servico__sobre {
  max-width: 470px;
  height: auto;
}
.sobre__title {
  margin-bottom: 30px;
}
.sobre__title h2 {
  color: var(--texto-azul-claro);
  font-size: 21px;
  font-weight: bold;
  text-align: right;
}
.sobre__title h1 {
  text-align: right;
  padding: 15px 0 30px 0;
}
.sobre__title p {
  color: var(--texto-branco);
  font-size: 16px;
  font-weight: normal;
  text-align: left;
}
/* Fim style do main */

/* Style atendemos */
.atendemos {
  background-color: var(--azul-escuro);
  margin-top: 90px;
}
.atendemos02 {
  margin-top: 30px;
  background-color: var(--azul-escuro);
}
.atendemos > .container {
  padding: 30px 15px;
}
.title__atendemos {
  color: var(--texto-branco);
}
.container__flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* chamada */
.chamada__atendemos {
  margin-top: 90px;
}
.chamada__atendemos > .container a {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
/* Fim do Style atendemos */

/* Style de contratar */
.contratar {
  margin-top: 90px;
  background-color: var(--azul-escuro);
}
.contratar > .container {
  display: flex;
  padding: 30px 15px;
}
.contratar__img {
  display: flex;
  align-items: center;
  justify-content: center;
}
.contratar__sobre {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.contratar__container {
  max-width: 483px;
}
.contratar__sobre h1 {
  color: var(--texto-branco);
}
.contratar__sobre p {
  max-width: 483px;
  color: var(--texto-branco);
  font-weight: normal;
  font-size: 15px;
  margin-top: 30px;
}
.contratar__sobre p:last-of-type {
  margin-top: 15px;
}
.contratar__sobre a {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-top: 30px;
}
/* Portifolio */
.portifolio {
  margin-top: 90px;
}
.line__topo {
  width: 100%;
  height: 3px;
  background: linear-gradient(
    143deg,
    rgba(8, 120, 196, 1) 35%,
    rgba(4, 58, 94, 1) 64%
  );
  border-radius: 20px;
}
.line__bottom {
  width: 100%;
  height: 3px;
  background: linear-gradient(
    143deg,
    rgba(8, 120, 196, 1) 35%,
    rgba(4, 58, 94, 1) 64%
  );
  margin-top: 60px;
  border-radius: 20px;
}
.portifolio > .container > .title02 {
  margin-top: 60px;
  text-align: center;
}
.portifolio__flex {
  display: flex;
  gap: 30px;
}
.projeto01 {
  background-image: url(../../assets/imagens/projeto01.png);
}
.projeto02 {
  background-image: url(../../assets/imagens/projeto02.png);
}
.projeto03 {
  background-image: url(../../assets/imagens/projeto03.png);
}
.projeto04 {
  background-image: url(../../assets/imagens/projeto04.png);
}
.projeto05 {
  background-image: url(../../assets/imagens/projeto05.png);
}
.projeto06 {
  background-image: url(../../assets/imagens/projeto06.png);
}
/* Feedbacks */
.container__feedback {
  width: 1170px;
  margin: 90px auto 0 auto;
  overflow: hidden;
  position: relative;
}

.foto01 {
  background-image: url(../../assets/imagens/feedbacks/01.png);
}

.foto02 {
  background-image: url(../../assets/imagens/feedbacks/02.png);
}

.foto03 {
  background-image: url(../../assets/imagens/feedbacks/03.png);
}
.navigation {
  position: absolute;
  top: 0;
  right: 0px;
}

.navigation button {
  background: #076eb2;
  font-size: 20px;
  font-weight: bold;
  border: none;
  width: 60px;
  height: 30px;
  cursor: pointer;
  color: #fff;
}

/* Footer / copywriter */
footer {
  margin-top: 60px;
  background-color: #000;
}
.footer__nav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 90px;
  padding: 30px 15px;
}
.footer__icons {
  display: flex;
  gap: 15px;
}
.footer__copywriter {
  background-color: #000;
  color: var(--texto-branco);
  font-size: 13px;
  text-align: center;
  padding: 10px 2px;
}
