body,
html {
  width: 100%;
  height: 100%;
}
/* Cores */
:root {
  --azul-escuro: #011933; /* Azul-escueo */
  --azul-claro: #043d64; /* Azul-claro */
  --texto-branco: #fff; /* Branco */
  --texto-azul-claro: #076eb2; /* azul-claro */
}
/* Exemplo de uso das variáveis */
/* Define a largura padrao do container */
.container {
  width: 1185px;
  margin: 0 auto;
  padding: 0 15px;
}

/* style da logo */
.logo a {
  font-size: 34px;
  color: var(--texto-branco);
  font-family: "Crimson Pro", serif;
  font-weight: bold;
  cursor: pointer;
}
/* Style dos botoes */
.btn {
  width: 270px;
  height: 50px;
  display: block;
  color: var(--texto-branco);
  font-size: 16px;
  font-weight: normal;
  border-radius: 4px;
  text-align: center;
  line-height: 50px;
  cursor: pointer;
  background: rgb(8, 120, 196);
  background: linear-gradient(
    143deg,
    rgba(8, 120, 196, 1) 35%,
    rgba(4, 58, 94, 1) 64%
  );
  transition: 1s;
}
.btn:hover {
  transition: 1s;
  background: linear-gradient(
    143deg,
    rgba(8, 120, 196, 1) 35%,
    rgb(34, 157, 238) 64%
  );
}
/* Style dos titulos h1/h2 */
.title02 {
  font-size: 34px;
  color: var(--texto-branco);
  font-weight: bold;
}
/* Style das info/serviços */
.servico__info {
  max-width: 470px;
  border-bottom: 1px solid var(--texto-branco);
  margin-top: 30px;
}
.servico__info h2 {
  font-size: 26px;
  color: var(--texto-branco);
  font-weight: bold;
}
.servico__info p {
  color: var(--texto-branco);
  font-size: 16px;
  font-weight: normal;
  max-width: 335px;
  padding: 15px 0;
}

/* Style dos cards de atendemos */
.card {
  width: 330px;
  height: 290px;
  background-color: #ffffff0e;
  border-top: 3px solid #076eb2;
  border-radius: 20px;
  margin-top: 30px;
  padding: 40px 20px;
  border-left: 5px solid var(--azul-escuro);
  border-right: 5px solid var(--azul-escuro);
}
.card__texto {
  max-width: 300px;
}
.title__card {
  color: var(--texto-branco);
  font-size: 21px;
  font-weight: bold;
  padding: 30px 0 15px 0;
}
.card__texto p {
  color: var(--texto-branco);
  font-size: 16px;
  font-weight: normal;
}

/* Style dos card do Portifolio */
.portifolio__card {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 370px;
  height: 240px;
  border-radius: 4px;
  cursor: pointer;
}
.portifolio__card:hover .portifolio__card-texto {
  opacity: 1;
}
.portifolio__card-texto {
  width: 100%;
  height: 100%;
  text-align: center;
  background-color: #000000da;
  opacity: 0;
  transition: opacity 1s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}
.projeto01,
.projeto02,
.projeto03 {
  margin-top: 60px;
}
.projeto04,
.projeto05,
.projeto06 {
  margin-top: 60px;
}
.portifolio__card-texto h1 {
  color: #fff;
  font-size: 21px;
  font-weight: bold;
}
.portifolio__card-texto p {
  color: #fff;
  font-size: 16px;
  font-weight: normal;
  padding: 15px 0;
  max-width: 280px;
  margin: 0 auto;
}
.portifolio__card-texto a {
  padding: 10px 30px;
  background: rgb(8, 120, 196);
  background: linear-gradient(
    143deg,
    rgba(8, 120, 196, 1) 35%,
    rgba(4, 58, 94, 1) 64%
  );
  color: #fff;
  font-size: 16px;
  text-decoration: none;
  cursor: pointer;
  border-radius: 4px;
  transition: background 1s ease;
  transition: transform 0.3s ease;
  display: inline-block;
}
.portifolio__card-texto a:hover {
  background: rgb(13, 144, 231);
  transform: scale(1.1);
}
/* Feedbacks */
.slider {
  width: 100%;
  height: 300px;
  display: flex;
  transition: transform 1s ease;
  position: relative;
}

.slide {
  flex: 0 0 100%;
  width: 100%;
  height: auto;
}
.flex {
  display: flex;

  height: auto;
}
.slide__img {
  width: 40%;
  height: 300px;
  background-color: #020e1b;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.img01,
.img02,
.img03 {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 138px;
  height: 160px;
  border-radius: 5px;
}

.slide__img h1 {
  font-size: 26px;
  font-weight: bold;
  color: #fff;
  text-transform: capitalize;
  margin-top: 15px;
}
.slide__img h3 {
  font-size: 16px;
  font-weight: normal;
  text-transform: capitalize;
  margin-top: 5px;
  color: #076eb2;
}
.slide__feedbak {
  width: 60%;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  padding: 0 15px;
}
.feedbak__stars {
  max-width: 100%;
  width: 522px;
  display: flex;
  gap: 10px;
  padding: 5px 0;
}
.feedbak__stars i {
  font-size: 30px;
  color: yellow;
}

.slide__feedbak p {
  font-size: 16px;
  font-weight: normal;
  text-align: left;
  max-width: 522px;
  color: #000;
  overflow: hidden;
  background-color: #fff;
  padding: 10px 0;
}
